.Controller input[type="text"] {
    font-size: 1.0rem;
    font-weight: bold;
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
    width: 100%;
}

.Controller input[type="text"]:focus {
    border: solid 5px #969696;
}

.input-fields {
    display: block;
}

.send-button {
    width: 100%;
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background-color:#768d87;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.send-button:hover {
    background-color:#6c7c7c;
}
.send-button:active {
    position:relative;
    top:1px;
}