.gameWindow {
    display: flex;
    align-items: center;
    background-color: #b3d4fc;
}

.playerScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gameIframe {
    border: solid #222222 4px;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    width: 1200px;
    height: 800px;
}
